<!-- game-board.component.html -->

<div class="game-board-container">
    <h2>{{ player1Name }} vs {{ player2Name }}</h2>

    <!-- Marcador de puntaje -->
    <div class="score">
        <p>Score</p>
        <p>{{ player1Name }}: {{ player1Score }}</p>
        <p>{{ player2Name }}: {{ player2Score }}</p>
    </div>

    <!-- Resultado de la ronda -->
    <div class="round-result-container" *ngIf="showRoundResult">
        <h2>Round Result</h2>
        <p *ngIf="!roundWinner">It's a tie!</p>
        <p *ngIf="roundWinner">The winner is {{ roundWinner.name }}!</p>
        <button (click)="onRoundResultDismissed()">Continue</button>
    </div>

    <!-- Selección de movimientos -->
    <div class="moves" *ngIf="!showRoundResult && !showCongratulations &&
        showMoveButtons">
        <h3>{{ player1Name }}, choose your move:</h3>
        <button (click)="onMoveSelected(player1, Move.Rock)">
            <img src="assets/rock.png" alt="Rock" class="move-icon">
        </button>
        <button (click)="onMoveSelected(player1, Move.Paper)">
            <img src="assets/paper.png" alt="Paper" class="move-icon">
        </button>
        <button (click)="onMoveSelected(player1, Move.Scissors)">
            <img src="assets/scissors.png" alt="Scissors" class="move-icon">
        </button>

        <h3>{{ player2Name }}, choose your move:</h3>
        <button (click)="onMoveSelected(player2, Move.Rock)">
            <img src="assets/rock.png" alt="Rock" class="move-icon">
        </button>
        <button (click)="onMoveSelected(player2, Move.Paper)">
            <img src="assets/paper.png" alt="Paper" class="move-icon">
        </button>
        <button (click)="onMoveSelected(player2, Move.Scissors)">
            <img src="assets/scissors.png" alt="Scissors" class="move-icon">
        </button>
    </div>

    <!-- Mensaje de felicitaciones y botones -->
    <div class="congratulations-container" *ngIf="showCongratulations">
        <h2>¡{{ winnerName }} is the winner of the game!</h2>
        <div class="continue-buttons">
            <button (click)="onRestartGame()">Exit</button>
            <button (click)="onContinuePlaying()">Continue playing</button>
        </div>
    </div>

    <!-- Botón de continuar para la siguiente ronda -->
    <div class="continue-buttons" *ngIf="!showRoundResult &&
        !showCongratulations && !showMoveButtons">
        <button (click)="onContinueRound()">Continue</button>
    </div>
</div>