/* Main Container */
.game-board-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-top: 50px;
}

/* Score */
.score {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  p {
    font-size: 18px;
    margin: 5px 0;
    padding: 0 10px;
  }
}

/* Round result */
.round-result-container {
  margin-bottom: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    
    &:hover {
      background-color: #0056b3;
    }
  }
}

/* Move selection */
.moves {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

  h3 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
  }

  button {
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

/* Congratulations message */
.congratulations-container {
  margin-bottom: 20px;

  h2 {

    font-size: 24px;
    margin-bottom: 50px;
  }

  .continue-buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 0 10px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

/* Exit and continue playing */
.continue-buttons {
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
   
    &:hover {
      background-color: #0056b3;
    }
  }
}