.game-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative; 
  }
  
  .score {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
.score p {
    margin: 0; /* Eliminar márgenes predeterminados */
  }
  .moves {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .move-button {
    padding: 5px;
  }
  
  .move-icon {
    width: 50px; /* Tamaño deseado */
    height: 50px;
  }
  
  .congratulations-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .congratulations-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .congratulations-modal h3 {
    margin-bottom: 10px;
  }
  
  .congratulations-modal button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .congratulations-modal button:focus {
    outline: none;
  }
  
  .round-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .round-result {
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    text-align: center;
  }
  
  .round-result h3 {
    margin-bottom: 10px;
  }
  
  .round-result button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .round-result button:focus {
    outline: none;
  }